# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Database
*.db
*.sqlite
*.sqlite3

# Build files
dist/
build/
.next/